<% layout('/layouts/boilerplate') -%>
<div id="filters">

    <a href="/listings/category/Trending" class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
    </a>

    <a href="/listings/category/Rooms" class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
    </a>

    <a href="/listings/category/IconicCities" class="filter">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>Iconic cities</p>
    </a>

    <a href="/listings/category/Beach" class="filter">
        <div><i class="fa-solid fa-umbrella"></i></div>
        <p>Beach</p>
    </a>

    <a href="/listings/category/AmazingPools" class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing pools</p>
    </a>

    <a href="/listings/category/Lakefront" class="filter">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Lakefront</p>
    </a>

    <a href="/listings/category/Camping" class="filter">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
    </a>

    <a href="/listings/category/Farms" class="filter">
        <div><i class="fa-solid fa-cow"></i></div>
        <p>Farms</p>
    </a>

    <a href="/listings/category/Activities" class="filter">
        <div><i class="fa-solid fa-person-skiing"></i></div>
        <p>Activities</p>
    </a>

    <a href="/listings/category/Artic" class="filter">
        <div><i class="fa-regular fa-snowflake"></i></div>
        <p>Artic</p>
    </a>

    <a href="/listings/category/Domes" class="filter">
        <div><i class="fa-solid fa-landmark-dome"></i></div>
        <p>Domes</p>
    </a>

    <a href="/listings/category/Cruise" class="filter">
        <div><i class="fa-solid fa-ship"></i></div>
        <p>Cruise</p>
    </a>

    <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
            <input 
                class="form-check-input" 
                type="checkbox" 
                role="switch" 
                id="flexswitchCheckDefault">
            <label class="form-check-label" for="flexswitchCheckDefault">
                Display total after taxes
            </label>
        </div>      
    </div>

</div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-3">
        <% for(let listing of allListings) { %>
            <div class="col mb-4">
                <a  href="/listings/<%=listing._id%>" class="listing-link">
                    <div class="card listing-card col shadow-sm p-3 mb-5 bg-body-dark rounded-2" >
                        <img src="<%= listing.image.url %>" 
                            class="card-img-top shadow-sm p-3 mb-5 bg-body-tertiary rounded" 
                            alt="listing_image" style="height: 20rem;">
                        <div class="card-body">
                            <p class="card-text">
                                <b><%= listing.title %></b></p> 
                                <br />
                                &#x20B9; <%= listing.price.toLocaleString("en-IN") %>/ night
                                <i class="tax-info"> &nbsp; &nbsp; +18%GST </i>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        <% } %>           
    </div>

<script>
    let taxSwitch = document.getElementById("flexswitchCheckDefault");
    taxSwitch.addEventListener("click", () => {
        let taxInfo = document.getElementsByClassName("tax-info");
        for(info of taxInfo) {
            if(info.style.display != "inline"){
                info.style.display = "inline"
            } else {
                info.style.display = "none";
            }
        }
    });
</script>